.cantidadTotal{
    position: absolute;
    border: solid rgba(66, 61, 61, 0.719) 0.5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 9px;
    color: rgba(49, 40, 40, 0.795);
    font-size: 12px;
    height: 21px;
}
.cartWidget{
    position: relative;
    padding: 10px;
} 