.footerContainer{
    background-color: black;
    margin-top: 20px;
    display: flex;
    
    
}
.dataContainer{
    color: white;
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 50px
}
@media screen and (max-width: 858px){
    .footerContainer{
        background-color: black;
        
        display: flex;
        
        
        font-size: 12px
    }
    .footerContainer img{
        width: 7rem;
    }
}
h2{
    color: black;
}
.navFooter ul{
    display: flex;
    margin-left: 40px;
    list-style: none;


}
.navFooter ul li{
    margin-left: 25px;
    color: white;

    
}
.navFooter{
    display: flex;
    align-items: flex-end;
}
.navFooter ul li:hover{
    color: rgba(81, 69, 241, 0.795);
    
    
}